{% extends "themes/base_admin.html.twig" %}

{% block title %}Espace d'administration{% endblock %}

{% block description %}Espace d'administration{% endblock %}

{% block aos_css %}
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> 
{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Espace d'admnistration</h1>

    <div class="container text-center col-lg-10 mx-auto">
        <div class="row">
          
            <div class="card text-bg-primary mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Catégorie</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de catégories</h5>
                  <p class="card-text">{{ categories|length }}</p>
                </div>
              </div>
              <div class="card text-bg-secondary mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Articles</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre d'articles</h5>
                  <p class="card-text">{{ posts|length }}</p>
                </div>
              </div>
              <div class="card text-bg-success mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Tags</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de tags</h5>
                  <p class="card-text">{{ tags|length }}</p>
                </div>
              </div>
              <div class="card text-bg-danger mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Contacts</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de contacts</h5>
                  <p class="card-text">{{ contacts|length }}</p>
                </div>
              </div>
              <div class="card text-bg-warning mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Villes</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de villes</h5>
                  <p class="card-text">{{ cities|length }}</p>
                </div>
              </div>
              <div class="card text-bg-info mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Commentaires</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre de commentaires</h5>
                  <p class="card-text">{{ comments|length }}</p>
                </div>
              </div>
              <div class="card text-bg-dark mb-3 mx-auto" style="max-width: 18rem;" data-aos="flip-up" data-aos-duration="1000">
                <div class="card-header">Utilisateurs</div>
                <div class="card-body">
                  <h5 class="card-title">Nombre d'utilisateurs</h5>
                  <p class="card-text">{{ users|length }}</p>
                </div>
              </div>
              
        </div>
    </div>
{% endblock %}

{% block aos_js %}
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
{% endblock %}