{% extends "themes/base_admin.html.twig" %}

{% block title %}- Modifier l'article : {{ post.title }} {% endblock %}

{% block description %}Modifier l'article : {{ post.title }}{% endblock %}

{% block tiny %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#post_form_content'
        });
    </script>
{% endblock %}


{% block main %}
    <h1 class="text-center my-3 display-5">Modifier l'article : {{ post.id }}</h1>



  <div class="container mt-5 pb-3">
    {{ form_start(form) }}
        <div class="mb-3">
            <label for="">Titre</label>
            <div class="text-danger">{{ form_errors(form.title) }}</div>
            {{ form_widget(form.title, {'attr': {'class': "form-control", "autofocus": true}}) }}
        </div>
        <div class="mb-3">
            <label for="">Catégorie</label>
            <div class="text-danger">{{ form_errors(form.category) }}</div>
            {{ form_widget(form.category, {'attr': {'class': "form-control"}}) }}
        </div>
        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6 text-center">
                    {% if post.image %}
                        <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ post.title }}">
                    {% else %}
                        <img height="80" width="100" src="{{ asset('images/static/admin/post/default-post-image.jpg') }}" />
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label for="">Image</label>
                    <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                    {{ form_widget(form.imageFile, {'attr': {'class': "form-control"}}) }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="">Contenu</label>
            <div class="text-danger">{{ form_errors(form.content) }}</div>
            {{ form_widget(form.content, {'attr': {'class': "form-control", "rows": 15}}) }}
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Modifier" formnovalidate />
        </div>
    {{ form_end(form) }}
  </div>
{% endblock %}