{% extends "themes/base_visitor.html.twig" %}

{% block title %}- {{ post.title }}{% endblock %}

{% block description %}{{ post.title }}{% endblock %}

{% block main %}
<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('visitor.blog.saint_joseph.index') }}">Liste des ariticles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Article numéro : {{ post.id }}</li>
        </ol>
    </nav>
</div>
<div class="container my-3 text-center">
    <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="img-fluid" alt="">
</div>

<div class="container my-3">
    <h1 class="text-center my-3 display-5">{{ post.title }}</h1>
</div>

<div class="container my-3">
    {{ post.content|raw  }}
</div>

    {# <div class="container">

    </div> #}
{% endblock %}