{% extends "themes/base_visitor.html.twig" %}

{% block title %}- {{ post.title }}{% endblock %}

{% block description %}{{ post.title }}{% endblock %}

{% block main %}

    

    <div class="container my-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('visitor.blog.index') }}">Liste des ariticles</a></li>
            <li class="breadcrumb-item active" aria-current="page">Article numéro : {{ post.id }}</li>
            </ol>
        </nav>
    </div>

    {% for message in app.flashes('success') %}
        <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    
    <div class="container my-3 text-center">
        <img src="{{ vich_uploader_asset(post, 'imageFile') }}" class="img-fluid" alt="">
    </div>

    <div class="container my-3">
        <h1 class="text-center my-3 display-5">{{ post.title }}</h1>
    </div>

    <div class="container my-3">
        {{ post.content|raw  }}
    </div>

    <div class="container text-end">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fmonsaintjo.re%2F%2Fblog%2Fpost%2F%7Bid%3C%5Cd%2B%3E%7D%2F%7Bslug%7D&layout&size&width=91&height=20&appId" width="91" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    

    <hr class="my-3" />

    {# Div des commentaires #}
    {% if app.user %}
    <div class="container">
        {{ form_start(form) }}
            <div class="mb-3">
                <label for="">Votre commentaire</label>
                <div class="text-danger">{{ form_errors(form.content) }}</div>
                {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary">
            </div>
        {{ form_end(form) }}
    </div>
    {% else %}
        <p class="text-center">Veuillez vous <a href="{{ path('visitor.authentication.login') }}">connecter</a> ou vous <a href="{{ path('visitor.registration.register') }}">inscrire</a> avant de commenter</p>
    {% endif %}

    <hr class="my-4" />

    <div class="container">
        {% for comment in post.comments %}
            <div class="container bg-white shadow p-3 my-2"> 
                <h6><em>{{ comment.user.firstName }} {{ comment.user.lastName }} : </em></h6>
                <p>{{ comment.content|nl2br }}</p>
            </div>
            <hr class="my-3">
        {% endfor %}
    </div>

{% endblock %}