{% extends "themes/base_admin.html.twig" %}

{% block title %}- Modifier l'image{% endblock %}

{% block description %}Modifier l'image{% endblock %}

{% block tiny %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#post_form_content'
        });
    </script>
{% endblock %}

{% block jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5">Modifier l'image</h1>

<div class="container mt-5 pb-3">
    {{ form_start(form) }}
        <div class="mb-3">
            <label for="carousel_form_titre">Titre</label>
            <div class="text-danger">{{ form_errors(form.titre) }}</div>
            {{ form_widget(form.titre, {'attr': {'class': "form-control", "autofocus": true}}) }}
        </div>

        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="col-md-6 text-center">
                        {% if carousel.image %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="carousel_form_imageFile_file">Image</label>
                    <div class="text-danger">{{ form_errors(form.imageFile) }}</div>
                    {{ form_widget(form.imageFile, {'attr': {'class': "form-control"}}) }}
                    {{ form_widget(form.image, {'attr': {'class': "d-none"}}) }}
                </div>
            </div>
            
        </div>
        
        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="col-md-6 text-center">
                        {% if carousel.image1 %}
                        <img src="{{ vich_uploader_asset(carousel, 'imageFile1') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-danger">{{ form_errors(form.imageFile1) }}</div>
                    {{ form_widget(form.imageFile1, {'attr': {'class': "form-control"}}) }}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="col-md-6 text-center">
                        {% if carousel.image2 %}
                        <img src="{{ vich_uploader_asset(carousel, 'imageFile2') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-danger">{{ form_errors(form.imageFile2) }}</div>
                    {{ form_widget(form.imageFile2, {'attr': {'class': "form-control"}}) }}
                </div>
            </div>
        </div>
        
        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="col-md-6 text-center">
                        {% if carousel.image3 %}
                        <img src="{{ vich_uploader_asset(carousel, 'imageFile3') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-danger">{{ form_errors(form.imageFile3) }}</div>
                    {{ form_widget(form.imageFile3, {'attr': {'class': "form-control"}}) }}
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <div class="col-md-6 text-center">
                        {% if carousel.image4 %}
                        <img src="{{ vich_uploader_asset(carousel, 'imageFile4') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-danger">{{ form_errors(form.imageFile4) }}</div>
                    {{ form_widget(form.imageFile4, {'attr': {'class': "form-control"}}) }}
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Modifier" formnovalidate />
        </div>
    {{ form_end(form) }}
  </div>

{% endblock %}
