{% extends "themes/base_admin.html.twig" %}

{% block title %}- Liste des images du bandeau{% endblock %}

{% block description %}Liste des images du bandeau{% endblock %}

{% block main %}
<h1 class="text-center my-3 display-5">Liste des images du bandeau</h1>


{% for message in app.flashes('success') %}
        <div class=" text-center alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
{% endfor %}

<div class="d-flex justify-content-end align-content-center my-3">
    <a href="{{ path('admin.carousel.create') }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Nouveau bandeau</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-stripped text-center">
        <thead class="bg-dark text-white">
            <tr>
                <th colspan="7">Bannière</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Slug</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Publié ?</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for carousel in carousels %}
                <tr>
                    <td>{{ carousel.id }}</td>
                    <td>{{ carousel.titre }}</td>
                    <td>{{ carousel.slug }}</td>
                    <td>
                        {% if carousel.image %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                        {% if carousel.image1 %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile1') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                        {% if carousel.image2 %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile2') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                        {% if carousel.image3 %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile3') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                        {% if carousel.image4 %}
                            <img src="{{ vich_uploader_asset(carousel, 'imageFile4') | imagine_filter('admin_post_image_thumbnail')  }}" alt="{{ carousel.titre }}">
                        {% endif %}
                        
                    </td>
                    <td><a href="{{ path('admin.carousel.show', {'id' : carousel.id}) }}" titre="Voir l'image du bandeau"><i class="fa-solid fa-eye"></i></a></td>
                    <td>
                        <div class="d-flex flex-column justify-content-center align-content-center">
                            {% if carousel.isPublished %}
                                <span> 🥳 Publié le {{ carousel.publishedAt | date('d/m/Y') }}</span>
                            {% else %}
                                <span>Pas encore 😴</span>    
                            {% endif %}
                            <form action="{{ path('admin.carousel.publish', {'id': carousel.id}) }}" method="POST">
                                <div class="form-check-inline form-switch">
                                    <input onclick=" return confirm('Confimer cette action ?')" onchange="this.form.submit()" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ carousel.ispublished ? 'checked' : ''}}>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td>
                        <a class="text-secondary m-2" href="{{ path('admin.carousel.edit', {'id' : carousel.id}) }}" title="Modifier"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a onclick="event.preventDefault(); confirm('Confirmer la suppression ?') && document.querySelector('.delete_carousel_{{ carousel.id }}').submit()"  class="text-danger m-2" href="#" titre="Supprimer"><i class="fa-solid fa-trash-can"></i></a>
                        
                        <form class="delete_carousel_{{ carousel.id }}" action="{{ path('admin.carousel.delete', {'id' : carousel.id}) }}" method="POST" class="d-none">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('carousel_' ~ carousel.id ) }}" />
                        </form>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
        </table>
        
        {# <label class="form-check-label" for="flexSwitchCheckChecked"></label> #}







</div>
{% endblock %}