<!-- Sidebar -->
<div class="sidebar_color" id="sidebar-wrapper">
    <div class="sidebar-brand sidebar-heading text-center py-4 text-white fs-4 fw-bold text-uppercase border-bottom">
        <img class="sidebarlogo-brand" src="{{ asset('images/logo_monsaintjo.png') }}" alt="Le logo du site MonSaintJo">
    </div>
    <div class="sidebar_color list-group list-group-flush my-3">
        <a href="{{ path('admin.home.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-tachometer-alt me-2"></i>Tableau de bord</a>
        <a href="{{ path('admin.category.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-list-alt me-2"></i>Catégories</a>
        <a href="{{ path('admin.post.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-regular fa-file-signature me-2"></i>Articles</a>
        <a href="{{ path('admin.tag.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-paperclip me-2"></i>Tags</a>
        <a href="{{ path('admin.contact.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-solid fa-book me-2"></i>Contacts</a>
        <a href="{{ path('admin.user.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i 
                class="fas fa-solid fa-user me-2"></i>Utilisateurs</a>
        <a href="{{ path('admin.comment.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-comment-dots me-2"></i>Commentaires</a>
        <a href="{{ path('admin.city.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fa-solid fa-city"></i> Villes</a>
        <a href="{{ path('admin.advertising.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fa-solid fa-rectangle-ad"></i> Publicité</a>
        <a href="{{ path('admin.carousel.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fa-solid fa-images"></i> Bandeau</a>
        <a href="{{ path('admin.annoncement.index') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i class="fa-solid fa-bullhorn"></i> Annonce</a>
        
        <a href="{{ path('app.logout') }}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fas fa-power-off me-2 text-danger"></i>Déconnexion</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->