{% extends "themes/base_visitor.html.twig" %}

{% block main %}

{# div card #}
    <div class="container text-center my-2">
        <div class="row align-items-start">

          {% for advertising in ads %}
              <div>
                <div class="card text-bg-dark mt-3">
                  <img height="100px" src="{{ vich_uploader_asset(advertising, 'imageFile') | imagine_filter('visitor_advertising_thumbnail') }}"  alt="">
                  <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>    
          {% endfor %}

           <h1 class="my-3 display-5"><u> À la une</u></h1>
        </div>
        <div class="row mt-4">

          {% for post in posts %}
              <div class="card-group col-lg col-sm-9 mx-auto my-3">
                  <div class="card col shadow">
                    {% if post.image %}
                      <img class="img-fluid rounded-start" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('visitor_blog_post_image_thumbnail')  }}" alt="{{ post.title }}">
                    {% else %}
                      <img class="img-fluid " src="{{ asset('images/static/admin/post/default-post-image.jpg') }}" />
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p class="card-text">{{ post.content|striptags|u.truncate(100, '...')|raw }}</p>
                      <p>
                        {% for tag in post.tags %}
                          <a href="{{ path('visitor.blog.posts.filter_by_tag', {'id': tag.id, 'slug': tag.slug}) }}"><span class="badge rounded-pill text-bg-primary me-1">{{ tag.name }}</span></a>
                        {% endfor %}</p>
                        <p class="card-text"><small class="text-muted">Publié {{ post.publishedAt|ago }}</small></p>
                        <p><a href="{{path('visitor.blog.post.show', {'id': post.id, 'slug': post.slug})}}" class="btn btn-primary">Lire l'article</a></p>
                    </div>
                  </div>
              </div>
          {% endfor %}

          <hr class="my-4" />
          <p>Autres actualités</p>

          {% for post in posts1 %}
          <div class="card-group col-lg col-sm-9 mx-auto my-3">
              <div class="card col mx-auto">

                
                {% if post.image %}
                  <img class="img-fluid card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('visitor_blog_post_image_thumbnail')  }}" alt="{{ post.title }}">
                {% else %}
                  <img class="img-fluid" src="{{ asset('images/static/admin/post/default-post-image.jpg') }}" />
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.content|striptags|u.truncate(50, '...')|raw }}</p>
                  <p>
                    <a href="{{path('visitor.blog.post.show', {'id': post.id, 'slug': post.slug})}}" class="btn btn-primary">Lire</a>
                  </p>
                </div>
              </div>
          </div>
          {% endfor %}

          {# div pub #}
          {% for advertising in ads %}
              <div>
                <div class="card text-bg-dark mt-3">
                  <div class="row">
                      <img height="100px" src="{{ vich_uploader_asset(advertising, 'imageFile') | imagine_filter('visitor_advertising_thumbnail') }}" alt="">
                  </div>
                  <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                  </div>
                </div>
              </div>    
          {% endfor %}

        </div>
    </div>


{% endblock %}