{% extends "themes/base_visitor.html.twig" %}

{% block title %}- Inscription{% endblock %}

{% block description %}Inscription{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Inscription</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto bg-white shadow rounded p-4">
                {{ form_start(registrationForm) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="registration_form_firstName">Prénom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.firstName) }}</div>
                            {{form_widget(registrationForm.firstName, {'attr' : {'class': 'form-control'}} )}}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="registration_form_lastName">Nom</label>
                            <div class="text-danger">{{ form_errors(registrationForm.lastName) }}</div>
                            {{form_widget(registrationForm.lastName, {'attr' : {'class': 'form-control'}} )}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_email">Email (Non publiée)</label>
                            <div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
                            {{form_widget(registrationForm.email, {'attr' : {'class': 'form-control'}} )}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_first">Mot de passe</label>
                            <div class="text-danger">{{ form_errors(registrationForm.password.first) }}</div>
                            {{form_widget(registrationForm.password.first, {'attr' : {'class': 'form-control'}} )}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="registration_form_password_second">Confirmation du mot de passe</label>
                            <div class="text-danger">{{ form_errors(registrationForm.password.second) }}</div>
                            {{form_widget(registrationForm.password.second, {'attr' : {'class': 'form-control'}} )}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
                            {{form_widget(registrationForm.agreeTerms) }}
                            <label for="registration_form_agreeTerms">Veuillez accepter <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">les conditions générales d'utilisation</a></label>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Les conditions générales d'utilisation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Acceptation des conditions générales : <br/>
                                                1. En s'inscrivant sur ce site web, l'utilisateur accepte pleinement et sans réserve les présentes conditions générales d'utilisation. <br/>
                                                2. Utilisation du site : L'utilisateur s'engage à utiliser le site web conformément à la loi et aux règles en vigueur et à ne pas porter atteinte aux droits de tiers. <br/>
                                                3. Informations personnelles : L'utilisateur est responsable de l'exactitude et de l'exhaustivité des informations fournies lors de son inscription. Il s'engage à les mettre à jour en cas de modification. <br/>
                                                4. Confidentialité : Les informations personnelles de l'utilisateur seront traitées conformément à la politique de confidentialité du site web. <br/>
                                                5. Responsabilité : Le site web ne peut être tenu responsable des dommages directs ou indirects causés par l'utilisation du site. <br/>
                                                6. Propriété intellectuelle : Les contenus publiés sur le site web sont protégés par les droits d'auteur. L'utilisateur s'engage à ne pas les reproduire, copier, ou exploiter à des fins commerciales sans autorisation préalable. <br/>
                                                7. Suspension ou résiliation de compte : Le site web se réserve le droit de suspendre ou de résilier le compte de l'utilisateur en cas de non-respect des présentes conditions générales d'utilisation. <br/>
                                                8. Modifications des conditions générales : Le site web se réserve le droit de modifier à tout moment les présentes conditions générales d'utilisation. L'utilisateur sera informé de ces modifications et devra les accepter pour continuer à utiliser le site web. <br/>
                                                9. Cookies : Le site web utilise des cookies pour améliorer l'expérience de l'utilisateur. L'utilisateur peut les désactiver à tout moment. <br/>
                                                10. Liens hypertextes : Le site web peut contenir des liens hypertextes vers des sites web tiers. Le site web n'est pas responsable des contenus de ces sites web. <br/>
                                                11. Limitation de responsabilité : Le site web ne peut être tenu responsable des erreurs, omissions, interruptions, retard, virus informatiques, perte de données, et tout autre dommage résultant de l'utilisation du site web. <br/>
                                                12. Utilisation du contenu : L'utilisateur s'engage à utiliser le contenu du site web à des fins personnelles et non commerciales. <br/>
                                                13. Publicités : Le site web peut contenir des publicités. L'utilisateur s'engage à ne pas utiliser de bloqueur de publicités pour accéder au site web. <br/>
                                                14. Contact : L'utilisateur peut contacter le site web à tout moment pour poser des questions ou signaler des problèmes. <br/>
                                                15. Droit applicable et juridiction compétente : Les présentes conditions générales d'utilisation sont régies par le droit en vigueur et tout litige sera soumis à la juridiction compétente.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <input type="submit" class="btn btn-primary" formnovalidate/>
                        </div>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}